:root {
  --row: 3;
  --column: 3;

}


.container {
  display: grid;
  grid-template-rows: repeat(var(--row), 100px);
  grid-template-columns: repeat(var(--column), 100px);
  justify-content: center;
  margin-top: 100px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;

}


body, html {
  height: 100%;
  display: grid;
}

.playBtn {
  margin: 0 auto;
  width: 50%;
}